<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/header-style.css">
    </head>
    <body>
        <header>
            <!-- Top bar -->
            <div class="top-bar">
                <div class="left-links">
                    <!-- link chuyển hướng sang trang product-replenish.html (cần check tài khoản admin) -->
                    <a href="#">Replenish Product</a>                
                </div>
                <div class="right-links">
                    <!-- sau này thêm chức năng hiển thị đơn đặt hàng -->
                    <a>Notification</a> |
                    <!-- link sang trang about.html -->
                    <a href="about.html">About us</a> |
                    <a href="signup.html">Sign up</a> |
                    <a href="login.html">Log in</a>
                </div>
            </div>

            <!-- Middle bar -->
            <div class="middle-bar">
                <div class="logo">
                    <img src="assets/images/hang-hoa-la-gi-481722-removebg-preview.png" alt="Shopping Cart" class="logo-icon">
                    <span>ShopHub</span>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Welcome to ShopHub">
                    <button><img src="assets/images/glass-2026458_960_720-removebg-preview.png" alt="Search" class="search-icon"></button>
                </div>
                <div class="cart">
                    <img src="assets/images/pngtree-shopping-cart-icon-design-template-picture-image_8184878-removebg-preview.png" alt="Cart" class="cart-icon">
                </div>
            </div>
        </header>
    </body>
</html>
